*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#102315;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:20px;

}

.container{

    width:100%;
    max-width:520px;

    background:#17351f;

    border-radius:20px;

    padding:40px;

    text-align:center;

    box-shadow:0 10px 35px rgba(0,0,0,.5);

    animation:fadeIn .8s;

}

.logo-area{

    display:flex;

    justify-content:center;

    gap:40px;

    margin-bottom:25px;

    flex-wrap:wrap;

}

.logo{

    width:120px;

    height:120px;

    object-fit:contain;

}

h1{

    color:gold;

    font-size:48px;

    margin-bottom:10px;

}

h2{

    color:white;

    margin-bottom:20px;

    font-size:32px;

}

p{

    color:#ddd;

    margin-bottom:35px;

    font-size:22px;

}

.btn{

    display:block;

    width:100%;

    background:gold;

    color:black;

    text-decoration:none;

    padding:18px;

    border-radius:12px;

    font-size:22px;

    font-weight:bold;

    margin-top:18px;

    transition:.3s;

}

.btn:hover{

    background:white;

    transform:scale(1.03);

}

input{

    width:100%;

    padding:16px;

    margin-top:18px;

    border:none;

    border-radius:10px;

    font-size:18px;

}

button{

    width:100%;

    padding:18px;

    margin-top:20px;

    background:gold;

    border:none;

    border-radius:10px;

    font-size:20px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:white;

    transform:scale(1.03);

}

table{

    width:100%;

    border-collapse:collapse;

    margin-top:20px;

}

table th{

    background:gold;

    color:black;

    padding:12px;

}

table td{

    padding:12px;

    border:1px solid #333;

    color:white;

}

@keyframes fadeIn{

    from{

        opacity:0;

        transform:translateY(30px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

@media(max-width:768px){

.logo{

width:90px;

height:90px;

}

h1{

font-size:34px;

}

h2{

font-size:24px;

}

p{

font-size:18px;

}

.container{

padding:25px;

}

.btn{

font-size:20px;

padding:16px;

}

}
input{

    width:100%;

    padding:15px;

    margin:10px 0;

    border:none;

    border-radius:8px;

    font-size:18px;

    outline:none;

}

h1{

    color:gold;

    margin-bottom:25px;

}

.logo{

    width:90px;

    margin:10px;

}

.btn{

    display:block;

    width:100%;

    margin-top:15px;

    cursor:pointer;

}
.profile-box{

background:#18431f;

padding:20px;

border-radius:15px;

margin-top:20px;

text-align:left;

color:white;

}

.profile-box p{

font-size:20px;

margin:10px 0;

}

.logoutBtn{

background:#b22222;

}

.logoutBtn:hover{

background:#8b0000;

}